canvas{
border: 1px dashed red;
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
}
body{
    background-color: rgb(145, 233, 240);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}